.new_master {
    max-width: 1000px;
    text-align: center;
    margin: 20px auto 0;
}


.forms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}
.combo_box {
    margin-left: 68px;
    margin-top: 10px;
}
