.autocomplete {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.first_diagram {
    max-width: 600px;
    margin: 20px auto;
}

.third_diagram {
    max-width: 900px;
    margin: 40px auto;
}
