.repairs {
    max-width: 890px;
    text-align: center;
    margin: 20px auto 0;
}


.buttons {
    margin-left: -30px;
    padding-top: 12px;
}

.buttons li{
    display: inline;
    margin-right: 7px;
}
