.firms {
    max-width: 930px;
    text-align: center;
    margin: 20px auto 0;
}

.buttons {
    margin-left: -30px;
    padding-top: 12px;
}

.buttons li{
    display: inline;
    margin-right: 7px;
}

.edit_link {
    background: #000;
}

.find_or_add {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: left;
    margin-bottom: 20px;
}

.search_item {
    width: 500px;
}

#find_button {
    margin-top: 14px;
    width: 150px;
}

#add_button {
    margin-left: 20px;
    margin-top: 14px;
    width: 150px;
}

