.queries_header li {
    display: inline;
    margin-left: 30px;
    font-size: 18px;
}

.queries p {
    font-size: 20px;
}

.queries a {
    color: black;
    text-decoration: none;
}

.master_orders {
    max-width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 40px;
}

.masters_result {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.master_result_item {
    max-width: 700px;
    margin-left: 200px;
}

.brand_and_devices {
    max-width: 900px;
    margin: 0 auto;
}

.brand_and_devices_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.brand_submit_button {
    margin: 30px;
}
.not_made_orders {
    max-width: 700px;
    margin: 30px auto;
}

.not_made_orders button {
    margin-bottom: 30px;
}

.count_masters_per_firm {
    max-width: 600px;
    margin: 0 auto;
}

.count_masters_per_firm button {
    margin: 25px;
}

.group_devices_by_countries {
    max-width: 970px;
    margin: 0 auto;
}

.group_devices_by_countries button {
    margin: 30px 0;
}
.group_repairs_by_type {
    max-width: 770px;
    margin: 0 auto;
}

.group_repairs_by_type button {
    margin: 30px 0;
}

.count_orders_per_firm {
    max-width: 600px;
    margin: 0 auto;
}

.count_orders_per_firm button {
    margin: 20px 0;
}

.no_order_per_period {
    max-width: 400px;
    margin: 0 auto;
}
